@import "tailwindcss";

:root {
  font-family: "Nunito Sans", sans-serif;
  background-color: #1F1F1F;
}

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotate-border {
  0% {
    --border-angle: 0deg;
  }
  100% {
    --border-angle: 360deg;
  }
}

.animate-rotate-border {
  animation: rotate-border 3s linear infinite;
  border: 1px solid transparent;
  border-image: conic-gradient(from var(--border-angle), black, green, black);
  border-image-slice: 1;
}

